<nav class="navbar navbar-dark bg-primary">
  <a href="#" class="navbar-brand">Brand</a>

    <ul class="nav navbar-nav float-md-right">

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
          Shopping Cart
        </a>
      </li>

      <li class="nav-item dropdown">

        <a href="#" class="nav-link dropdown-toggle" id="header-dropdown" data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="header-dropdown">
          <a href="#" class="dropdown-item">User Account</a>
          <a href="#" class="divider"></a>
          <a href="#" class="dropdown-item">logout</a>
        </div>
      </li>

    </ul>
</nav>
