<nav class="navbar navbar-inverse">
  <a href="/" class="navbar-brand">Brand</a>

    <ul class="nav navbar-nav  pull-right">
      <li class="nav-item">
        <a href="/shooping-cart" class="nav-link">
          <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>购物车
          <span class="badge">{{ session.cart.totalNum }}</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="header-dropdown" data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
           用户
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          {{#if login }}
            <li> <a href="/user/profile" class="dropdown-item">profile</a></li>
            <li class="divider" role="separator"></li>
            <li> <a href="/user/logout" class="dropdown-item">logout</a></li>
           {{ else }}
             <li> <a href="/user/signup" class="dropdown-item">Sign Up </a></li>
             <li class="divider" role="separator"></li>
             <li> <a href="/user/signin" class="dropdown-item">Sign In </a></li>
          {{/if}}
         </ul>
      </li>
    </ul>
</nav>
